/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/

/*------ Variables */

/* font-family: 'Pangolin', cursive;
font-family: 'Roboto', sans-serif; */

:root{

  --font-pangolin:'Pangolin', cursive;
  --font-roboto:'Roboto', sans-serif;

  --light-dark-color: #96bbbb;
  --middle-dark-color: #618985;
  --dark-dark-color: #414535;

  --back-color-general: #f2e3bc;
  --brown-dark: #c19875;

  --white-color: #ffffff;

  /*------ Colores */
  --green-color: #7ACC2D;
 
  /*------ Tipografía */
  --normal:12px;
  /*------ Espaciado */
  --space:10px;
  --space-2:20px;
}

/* ------------------------------------------- NAV BAR */

body{
  background: var(--back-color-general);
}

html, body{
  width: 100%;
  margin:0;
  padding: 0;
  font-family: var(--font-pangolin);
  color: var(--dark-dark-color);
}

nav{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding: var(--space); */
  min-height: 70px;
  background-color: var(--light-dark-color);
}

nav .marca{
  padding-left: 20px;
  font-size: 25px;
  font-style: bold;
}

nav .a{
  font-size: 25px;
  font-style: bold;
} 

nav a:hover{
  color: var(--white-color);
}

nav ul {
  display: flex;
}

nav ul li{
  padding-right: 20px;
  list-style: none;
}


/* ------------------------------------------- QUOTES SECTION */

.secc-principal{
  width: 100%;
  display: flex;
  align-items: flex-start;
  align-items:center;
  flex-wrap: wrap;
  justify-content: center;
  background: var(--back-color-general);
  margin-top: 5%;
  margin-bottom: 5%;
}

.quotes_section{
  max-width: 40%;
  font-family: var(--font-pangolin);
  font-size: 15px;
  text-align: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  /* padding: 15%; */
}

/* -------------------------------------------  TARJETAS DE SECCIÓN */

/* .products{
  background-image: url("../images/curve.png");
  padding: 15%;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  height: 95px;
  background-size: cover;

} */

.seccion{
  max-width: 25%;
  background: var(--back-color-general);
  border-radius: 3px;
  box-shadow: 2px 2px 2px 2px var(--brown-dark);
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;

}

.image-seccion{
  text-align: center;
}

.main_btn:hover{
  background-color: #63a426;
}


/* ------------------------------------------- Footer */
footer{
  display: flex;
  justify-content: space-between;
  font-size: var(--normal);
  background-color: var(--light-dark-color);
  padding: var(--space);
  color: var(--dark-dark-color);
}

