:root{

  --font-pangolin:'Pangolin', cursive;
  --font-roboto:'Roboto', sans-serif;

  --light-dark-color: #96bbbb;
  --middle-dark-color: #618985;
  --dark-dark-color: #414535;

  --back-color-general: #f2e3bc;
  --brown-dark: #c19875;

  --white-color: #ffffff;

  /*------ Colores */
  --green-color: #7ACC2D;
 
  /*------ Tipografía */
  --normal:12px;
  /*------ Espaciado */
  --space:10px;
  --space-2:20px;

  --opacity-back-image:0.5;
  --game-card-p-left: 20px;
  --game-card-p-top: 40px;
  --game-card-h3-left: 10px;
  --game-card-h3-top: 5px;
}

#overlay * {
  z-index: 2;
  display: none;
}

#overlay {
    position: fixed;
    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;
    display: flex;
    flex:row;
    justify-content:center;
  }



  #overlay .overlay-spacer-vertical{
    flex:1;
  }


  #overlay .overlay-content{
    height:auto;
    justify-content:center;   
  }

  #overlay .overlay-container{
    background-color: var(--back-color-general);
    justify-content:center;
    height: auto;  
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px var(--brown-dark);
    margin-top: 150px;
    padding: 30px;
  }

  #overlay-image img{
    width: 100%;
  }

  h2, p{
    font-family: var(--font-pangolin);
    color: var(--dark-dark-color);
  }

